/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: Graphik-Regular-Web, sans-serif;
	background-color: #1c2329;
	color: #ACBDC8;
	letter-spacing: .06em;
}

header {
	height: 2em;
	background-color: #14181c;
	color: #fff;
	overflow: hidden;
	margin-bottom: 1em;
}

main {
	margin: .8em;
}

main h1 {
	font-size: 1.4em;
	margin: 0 0 1rem;
	text-align: center;
}

h1,
h2 {
	font-weight: lighter;
}

h1 a {
	color: #fff;
	text-decoration-color: #ACBDC8;
}

h2 {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	font-size: 0.8em;
	text-transform: uppercase;
	border-bottom: 1px solid #456;
	padding-bottom: .2em;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

main>section {
	margin-bottom: 2.5rem;
}

section {
	margin: 0 0 2em 0;
}

footer {
	background-color: #2C3440;
	padding: 1.5em 0;
}

div {
	display: flex;
	margin-bottom: .4em;
}

div img:not(:last-of-type) {
	margin-right: .4em;
}

div img, .review img {
	border-radius: .3em;
	border: .02em solid #fff;
}

section img:first-of-type {
	height: fit-content;
}

.review div {
	display: flex;
	flex-direction: column;
}

.review img:first-of-type {
 width: 30%;
}

.review div img:first-of-type {
	display: flex;
	width: 2.5em;
	border-radius: 50%;
}